body {
    font-family: Arial;
    background: linear-gradient(45deg, #111, #222);
    color: white;
    text-align: center;
}

h1 {
    color: #ff66cc;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px black;
}
